<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Message Board</title>
</head>
<body>
    <ul>
        <li>
   <% messages.forEach((message)=> { %>
   <ul>
    <li>Text:<%= message.text%></li>
    <li>User:<%= message.user%></li>
    <li>Added:<%= message.added%></li>
   })%>
   </ul>
</li>
</ul>
</body>
</html>