<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Details</title>
</head>
<body>
   <ul>
    <li>Text:<%=message.text%></li>
    <li>User:<%=message.user%></li>
    <li>Date Added:<%=message.added%></li>
    <a href="/">Home</a>
   </ul>
</body>
</html>