<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Please Insert your New Message Here For Your Message Board Here!
    </h1>
    <form method="POST" action="./new">
        <label for="name">Name:</label>
     <input type="text" name="name" id="name">
     <label for="message">Message:</label>
     <input type="text" name="message" id="message">
     <input type="submit" name="submit" id="submit">
    </form>
</body>
</html>